html {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}

/* Links */

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header a {
    color: black;
}
footer a {
    color: #7e757a;
}

/* Header */

#navbar {
    display: flex;
    position: relative;
    justify-content: right;
    grid-area: auto;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar li {
    float: left;
    display: block;
    padding: 10px;
}

/* Body */

img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#searchbar {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#buttons {
    margin-top: 20px;
    text-align: center;
}

/* Footer General */

footer {
    background-color: #40e0d0;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top-color:lightgrey;
    border-top-style: solid;
    border-top-width: 1px;
}

/* Left Side of Footer */

#left-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    text-align: left;
    background-color: #eaeaeb;
}
#left-footer li {
    float: left;
    display: block;
    padding: 15px;
}

/* Right Side of Footer */

#right-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
    background-color: #eaeaeb;
}
#right-footer li {
    float: right;
    display: block;
    padding: 15px;
}